/vendor/
/node_modules/
/.env
/.env.*
!/.env.example
/public/storage
/storage/*.key
/storage/logs/*
/bootstrap/cache/*.php
.DS_Store
.phpunit.result.cache
/.idea/
/.vscode/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
kathford_process_local.sql
